.reviews{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin-left: 150px;
    margin-right: 150px;
    gap: 50px;
}

.review-title {
    text-align: center;
    color: #65C18C;
    font-size: 40px;
}

